<div class="bar">

	<div>

		<section class="join">

			<ul>
				<li class="ku"><a href="http://www.keithurban.net/home" title="Visit KeithUrban.net">Visit KeithUrban.net</a></li>
				<li class="ville"><a class="btn" title="Official Fan Club" href="http://www.keithurban.net/login">Official Fan Club</a></li>
				<li class="mail"><a class="btn" title="Mailing List" href="http://www.keithurban.net/signup">Mailing List</a></li>
			</ul>

		</section>

		<section class="speak">

			<h1>#IdolKU</h1>

			<ul>
				<li class="facebook"><a class="ss-icon ss-social" title="Facebook" href="https://www.facebook.com/keithurban">&#xF610;</a></li>
				<li class="twitter"><a class="ss-icon ss-social" title="Twitter" href="https://twitter.com/#!/keithurban">&#xF611;</a></li>
				<li class="instagram"><a class="ss-icon ss-social" title="Instagram" href="http://instagram.com/keithurban/">&#xF641;</a></li>
				<li class="youtube"><a class="ss-icon ss-social" title="YouTube" href="http://www.youtube.com/user/keithurban/featured">&#xF630;</a></li>
				<li class="getglue"><a class="ss-icon ss-social" title="GetGlue" href="http://getglue.com/tv_shows/american_idol">GetGlue</a></li>
			</ul>

		</section>

	</div>

</div>