<footer id="footer">

	<div>

		<a id="sparkart" href="http://www.sparkart.com/" title="Sparkart Group, Inc.">Sparkart</a>

		<ul class="social">
		<li class="facebook"><a title="Like Keith on Facebook" href="https://www.facebook.com/keithurban">Facebook</a></li>
		<li class="twitter"><a title="Follow Keith on Twitter" href="https://twitter.com/#!/keithurban">Twitter</a></li>
		<li class="pinterest"><a title="Follow Keith on Pinterest" href="http://pinterest.com/KeithUrban/">Pinterest</a></li>
		<li class="myspace"><a title="Friend Keith on MySpace" href="http://www.myspace.com/keithurban">MySpace</a></li>
		<li class="youtube"><a title="Watch Keith on YouTube" href="http://www.youtube.com/user/keithurban/featured">YouTube</a></li>
		<li class="googleplus"><a title="Follow Keith on Google+" href="https://plus.google.com/108850056587839011393/posts">Google+</a></li>
		<li class="instagram"><a title="Follow Keith on Instagram" href="http://instagram.com/keithurban/">Instagram</a></li>
		<!--li class="getglue"><a title="Follow Keith on GetGlue" href="#">GetGlue</a></li-->
		</ul>

		<p>Content: Copyright &copy; 2013 Monkeyville On Vine, its suppliers or licensors. All rights reserved. Monkeyville&reg;</p>
		<p>Software and Design: Copyright &copy; 2013 Sparkart Group, Inc., its suppliers or licensors. All rights reserved &reg;</p>
		<p><a href="http://www.keithurban.net/privacy">Privacy Policy</a> / <a href="http://www.keithurban.net/terms">Terms of Service</a> / <a href="http://www.keithurban.net/help">Help</a></p>

	</div>

</footer>