<header id="header">

	<div>

		<h1><a href="/">Keith Urban</a></h1>

		<div>

			<h2>What Makes Keith Your Idol?</h2>
			<p>Share your empowering <code>#IdolKU</code> stories on</p>

				<ul class="social">
					<li class="facebook"><a class="ss-icon ss-social" title="Facebook" href="https://www.facebook.com/keithurban">&#xF610;</a></li>
					<li class="twitter"><a class="ss-icon ss-social" title="Twitter" href="https://twitter.com/#!/keithurban">&#xF611;</a></li>
					<li class="instagram"><a class="ss-icon ss-social" title="Instagram" href="http://instagram.com/keithurban/">&#xF641;</a></li>
					<li class="youtube"><a class="ss-icon ss-social" title="YouTube" href="http://www.youtube.com/user/keithurban/featured">&#xF630;</a></li>
					<li class="getglue"><a class="ss-getglue ss-icon ss-social" title="GetGlue" href="http://getglue.com/tv_shows/american_idol">GetGlue</a></li>
				</ul>

		</div>

		<!--<h3><a href="#"><span>Win A Chance to See Keith At A Live Show Taping of <em>American Idol</em>!</span> <strong class="btn">Enter Now</strong></a></h3>-->
		<h3 class"tune-in"><a href="http://www.keithurban.net/story/news/where-can-you-watch-american-idol"><span>Wed|Thu 8/7 Central FOX</span><strong class="btn">Tune in this week</strong></a></h3>

	</div>

</header>