{{!
{
	"resources": {
		"global": "http://localhost:8080/api/global.json",
		"index": "http://idol.keithurban.net/.json"
	}
}
}}

<section class="stream">

	<div class="stream-articles">

	</div>

	<button class="btn next">Next</button>

</section>