{{# page[permanent_name='home'] }}
    <title>{{{ page.title }}} ~ Keith Urban</title>
	<meta name="description" content="{{{ page.description }}}" />
	<meta property="og:description" content="{{{ page.description }}}" />
	<meta property="og:url" content="http://keithurban.net" />
{{/ page[permanent_name='home'] }}