<article class="social stream-article">

	<div class="watch">

		<h1>Watching <em>American Idol</em> right now? Share the action!</h1>

		<ul>
		<li><div class="fb-like" data-href="http://www.facebook.com/americanidol" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="trebuchet ms"></div></li>
		<li><a class="glue-checkin-widget" href="http://getglue.com/tv_shows/american_idol" data-type="horizontal">American Idol</a></li>
		<li><a href="https://twitter.com/intent/tweet?button_hashtag=IdolKU" class="twitter-hashtag-button" data-related="keithurban,americanidol" data-text="I'm watching @keithurban on @americanidol!">Tweet #IdolKU</a></li>
		</ul>

	</div>

	<div class="listen">

		<h1>Listen to Keith</h1>
		<iframe src="https://embed.spotify.com/?uri=spotify:user:sparkart123:playlist:7qvMeKaOIXSVbomfLD6gvr&theme=white" width="330" height="80" frameborder="0" allowtransparency="true"></iframe>

	</div>

</article>